# Dependencies
node_modules

# Build output
dist

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# all summer photos to choose the best
raw-photos/
selected-photos/
